  /* Carousel actualité */
  
  
  .title_carouselle{
      margin-top: 10px;
    display: block;
    text-align: center;
    color: #FF6C00;
    font-size: 60px;
    margin-left: 6vw;
  }
  
  
   .title_carousel{
    display: block;
   margin: -3% 25% 0% 0%;
     color: #00DEC6;
     font-size: 60px;
   }
  
 
   .btn-primary{
    display:block;
    margin: -7vh 0 5% 35%;
   
    width: 33%;
   }

   .paragraphe{
    margin: 1vh 30%;
    display: block;
    margin: auto;
    width: 50%;
    color: black;
  }
   }

  
  .carousel-caption{
  position: relative !important;
  left: 0;
  }
  
.active_slide{
    background-color: black !important; 
  }
  

  
  img{
    display: block;
    margin: auto;
    height: 30vh;
  }
  
 
  
  .btn-primary{
    margin-top: 30vh;
    width: 1%;
   }
  


   /* Médias */

     
  @media (max-width: 1349px) {

    .imgFooter{
        margin-left: -260px;
        margin-bottom: 150px;
    }
    

    .carousel-indicators{
      margin-bottom: 250px;
    }
    
      .title_carousel{
        display: block;
        text-align: center;
        color: #00DEC6;
        font-size: 60px;
      }
     
      .title_carouselle{
        margin-top: 10px;
      display: block;
      text-align: center;
      color: #FF6C00;
      font-size: 60px;
    }
     
     .paragraphe{
        display: block;
        margin: auto;
        width: 80%;
        color: black;
      }
     
     
     .carousel-caption{
     position: relative !important;
     left: 0;
     }
     
    .active_slide{
       background-color: black !important; 
     }
     
     .carousel{
       height:80vh;
     }
     
     img{
       display: block;
       margin: auto;
       height: 30vh;
     }
     
     .btn{
       display: block;
      margin-bottom:130px;
     }
     
     .btn-primary{
      display:block;
       margin: 900px auto;
       width: 50%;
      margin-bottom:130px;
     }
    
    }
    
    @media (max-width: 768px) {

        .imgFooter{
            margin-left: -260px;
            margin-bottom: 150px;
        }
        

        .carousel-indicators{
          margin-bottom: 200px;
        }
        
          .title_carousel{
            display: block;
            text-align: center;
            color:#00DEC6;
            font-size: 60px;
            margin-right: 150px;
          }
         
          .title_carouselle{
            margin-top: 10px;
          display: block;
          text-align: center;
          color: #FF6C00;
          font-size: 60px;
        }
    
         .paragraphe{
display: block;
margin: auto;
width: 50%;
color: black;
text-align: center;
margin-right: 250px;
          }
         
         
         .carousel-caption{
         position: relative !important;
         left: 0;
         }
         
        .active_slide{
           background-color: black !important; 
         }
         
         .carousel{
           height:80vh;
         }
         
         img{
           display: block;
           margin: auto;
           height: 30vh;
         }

         .btn-primary{
          display:block;
          margin: 50px auto;
          margin-left: 200px;
          width: 50%;
         }
        
        }
    


  
  @media (max-width: 414px) {

    .imgFooter{
        margin-left: -260px;
        margin-bottom: 150px;
    }
    

    .carousel-indicators{
      margin-bottom: 60px
    }
    
      .title_carousel{
        display: block;
text-align: center;
color:#00DEC6;
font-size: 30px;
margin-left: 60px;
      }
     
      .title_carouselle{
        margin-top: 10px;
      display: block;
      text-align: center;
      color: #FF6C00;
      font-size: 60px;
    }

     .paragraphe{
display: block;
margin: auto;
margin-right: auto;
width: 80%;
color:black;
margin-right: 70px;
      }
     
     
     .carousel-caption{
     position: relative !important;
     left: 0;
     }
     
    .active_slide{
       background-color: black !important; 
     }
     
     .carousel{
       height:600px;
     }
     
     img{
       display: block;
       margin: auto;
       height: 30vh;
     }
     
 
     
     .btn-primary{
        display:block;
        margin: 50px auto;
        margin-left: 15vh;
        margin-top: -20px;
        width: 50%;
       }
      
    
    }
  
  
  
  
  @media (max-width: 375px) {

.imgFooter{
    margin-left: -260px;
    margin-bottom: 150px;
}



    .carousel-indicators{
        margin-bottom:-50%;
    }
    
      .title_carousel{
        display: block;
        text-align: center;
        color: #00DEC6;
    font-size: 30px;
    margin-left: 30px;
      }
     
      .title_carouselle{
        margin-top: 10px;
      display: block;
      text-align: center;
      color: #FF6C00;
      font-size: 60px;
    }

     .paragraphe{
display: block;
width: 80%;
color:black;
margin-right: 160px;
      }
     
     
     .carousel-caption{
     position: relative !important;
 
     }
     
    .active_slide{
       background-color: black !important; 
     }
     
     .carousel{
       height:80vh;
     }
     
     img{
       display: block;
       margin: auto;
       height: 30vh;
     }
     
     
     .btn-primary{
        display:block;
        margin: 50px auto;
        margin-top:-20px;
        margin-left: 100px;
        width: 50%;
       }
    
    }
  
  





