main {
    background-color: #dddddd;
    height: auto;
    padding-top: 100px;
    padding-bottom: 200px;
    text-align: center;
}

.actualite-title {
    margin-bottom: 40px;
}



.actualise-img {
    display: block;
    margin: auto;
    text-align: center;
    width: 260px;
}

.carousel-item-gb {
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform 0.6s ease;
    transition: transform 0.6s ease;
    transition: transform 0.6s ease, -webkit-transform 0.6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    height: 500px;
}

.carousel-item-gb.active,
.carousel-item-gb-next,
.carousel-item-gb-prev {
    display: block;
}

.carousel-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    text-align: center;
}

.carousel-h5 {
    position: absolute;
    right: 15%;
    top: -15vh;
    left: 15%;
    color: #ff6c00;
    font-size: 2rem;

}

.carousel-paragraphe {
    position: absolute;
    right: 15%;
    bottom: 30px;
    left: 15%;
    color: black;
    margin-bottom: 0;
}

.actualite-btn {
    border-radius: 20px;
    background-color: #ff6c00;
    border: none;
    width: 30%;
    height: 40px;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 900px) {

    .imgFooter {
        margin-left: -260px;
        margin-bottom: 150px;
    }

    .carousel-item-gb {

        height: 700px;
    }

    .carousel-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 300px;
        position: absolute;
        right: 15%;
        bottom: -70px;
        left: 15%;
        z-index: 10;
        text-align: center;
    }

    .carousel-h5 {
        position: absolute;
        right: 15%;
        top: -170px;
        left: 15%;
        color: orangered;
        font-size: 2rem;

    }

    .carousel-paragraphe {
        position: absolute;
        right: 15%;
        top: -100px;
        left: 15%;
        color: black;
        margin-bottom: 0;

    }

}